
###> symfony/framework-bundle ###
/back/.env
/back/.env.local
/back/.env.local.php
/back/.env.*.local
/back/config/secrets/prod/prod.decrypt.private.php
/back/public/bundles/
/back/var/
/back/vendor/
###< symfony/framework-bundle ###
/test-jobs-zoo.txt
##### vue front ####
.DS_Store
node_modules
/front/dist


# local env files
/front/.env.local
/front/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#for all
gitignore.*
